<!DOCTYPE html>
<html lang="zxx">
  <head>
    <% include ../../partial/head %>
  </head>

  <body>
    <!-- Start: Header Section -->
    <% include ../../partial/header %>
    <!-- End: Header Section -->

    <!-- Start: Slider Section -->
    <section class="page-banner services-banner">
      <div class="container">
        <div class="banner-header">
          <h2>Books List</h2>
          <span class="underline center"></span>
          <p class="lead">Here avaliable Book list at library</p>
        </div>
        <div class="breadcrumb">
          <ul>
            <li><a href="/user">Home</a></li>
            <li>Book List</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End: Slider Section -->

    <!-- Start: Search Section -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <div class="books-full-width">
            <div class="container">
              <!-- Start: Search Section -->
              <section class="search-filters">
                <div class="filter-box">
                  <h3>What are you looking for at the library?</h3>
                  <form action="/user/booklist" method="post" name="frm">
                    <input type="hidden" name="currpage" />
                    <div class="col-md-5 col-sm-6">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="Search by Keyword"
                          id="keywords"
                          name="keywords"
                          value="<%= search.keywords %>"
                          type="text"
                        />
                      </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        <select
                          name="catalog"
                          id="catalog"
                          class="form-control"
                        >
                          <option>Search the Catalog</option>
                          <option>Catalog 01</option>
                          <option>Catalog 02</option>
                          <option>Catalog 03</option>
                          <option>Catalog 04</option>
                          <option>Catalog 05</option>
                        </select>
                      </div>
                    </div> -->
                    <div class="col-md-5 col-sm-6">
                      <div class="form-group">
                        <select
                          name="category"
                          id="category"
                          class="form-control"
                        >
                          <option value="">All Categories</option>
                          <% for( var i = 0; i < category.length; i++){%>
                          <option value="<%= category[i]._id %>">
                            <%= category[i]._id %>
                          </option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="submit"
                          value="Search"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="clear"></div>
              </section>
              <!-- End: Search Section -->

              <div class="filter-options margin-list">
                <!-- <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <select name="orderby">
                      <option selected="selected">Sort by Title</option>
                      <option>Sort by popularity</option>
                      <option>Sort by rating</option>
                      <option>Sort by newness</option>
                      <option>Sort by price</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <select name="orderby">
                      <option selected="selected">Sort by Author</option>
                      <option>Sort by popularity</option>
                      <option>Sort by rating</option>
                      <option>Sort by newness</option>
                      <option>Sort by price</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <select name="orderby">
                      <option selected="selected">Language</option>
                      <option>Sort by popularity</option>
                      <option>Sort by rating</option>
                      <option>Sort by newness</option>
                      <option>Sort by price</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <select name="orderby">
                      <option selected="selected">Publishing Date</option>
                      <option>Sort by popularity</option>
                      <option>Sort by rating</option>
                      <option>Sort by newness</option>
                      <option>Sort by price</option>
                    </select>
                  </div>
                </div> -->
              </div>
              <div class="booksmedia-fullwidth">
                <ul>
                  <% for(var i = 0; i < books.length; i++){%>
                  <li>
                    <div class="book-list-icon yellow-icon"></div>
                    <figure>
                      <a href="/user/bookdetail/<%= books[i]._id %>"
                        ><img
                          src="<%= books[i].imgUrl %>"
                          height="200px"
                          alt="Book"
                      /></a>
                      <figcaption>
                        <header>
                          <h4>
                            <a href="/user/bookdetail/<%= books[i]._id %>"
                              ><%= books[i].name %></a
                            >
                          </h4>
                          <p>
                            <strong>Author:</strong> <%= books[i].author_name %>
                          </p>
                          <p>
                            <strong>Barcode:</strong> <%= books[i].barcode %>
                          </p>
                        </header>
                        <p><%= books[i].description %></p>
                        <!-- <div class="actions">
                          <ul>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Add TO CART"
                              >
                                <i class="fa fa-shopping-cart"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Like"
                              >
                                <i class="fa fa-heart"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Mail"
                              >
                                <i class="fa fa-envelope"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Search"
                              >
                                <i class="fa fa-search"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Print"
                              >
                                <i class="fa fa-print"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="#"
                                target="_blank"
                                data-toggle="blog-tags"
                                data-placement="top"
                                title="Share"
                              >
                                <i class="fa fa-share-alt"></i>
                              </a>
                            </li>
                          </ul>
                        </div> -->
                      </figcaption>
                    </figure>
                  </li>
                  <%}%>
                </ul>
              </div>
              <nav class="navigation pagination text-center">
                <h2 class="screen-reader-text">Posts navigation</h2>
                <div class="nav-links">
                  <a
                    class="prev page-numbers <%= (paging.skip.prev < 0)?'disabled':''%>"
                    href="javascript:go(<%= paging.skip.prev %>)"
                    ><i class="fa fa-long-arrow-left"></i> Previous</a
                  >
                  <% for(var i = paging.start; i<= paging.end; i++){%>
                  <a
                    class="page-numbers <%=(i == paging.currpage)?'current':''%>"
                    href="javascript:go(<%= i %>)"
                    ><%= i %></a
                  >
                  <%}%>
                  <a
                    class="next page-numbers <%= (paging.skip.next > paging.total)?'disabled':''%>"
                    href="javascript:go(<%= paging.skip.next%>)"
                    >Next <i class="fa fa-long-arrow-right"></i
                  ></a>
                </div>
              </nav>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- End: Search Section -->

    <!-- Start: Welcome Section -->

    <!-- End: Welcome Section -->

    <!-- Start: Category Filter -->

    <!-- Start: Category Filter -->

    <!-- Start: Features -->

    <!-- End: Features -->

    <!-- Start: Social Network -->
    <% include ../../partial/social %>
    <!-- End: Social Network -->

    <!-- Start: Footer -->
    <% include ../../partial/footer %>
    <!-- End: Footer -->

    <% include ../../partial/script %>
  </body>
  <script>
      function go(page) {
        if(page == -1 || page> (<%= paging.total %>)) return;
        frm.currpage.value = page;
        frm.submit();
      }
      $('.disabled').click(function(e){
      e.preventDefault();
    });
    $(function(){
      $('.select-styled').text("<%= (search.category != undefined)? search.category: 'All Categories' %>")

      <%if(search.category == ''){%>
        $('.select-styled').text('All Categories');
      <%}%>
    })
  </script>
</html>
