<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <% include ../../partialA/head %>
    <link rel="stylesheet" href="/stylesheets/jquery.DataTables.css" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <% include ../../partialA/navbar %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <% include ../../partialA/sidebar %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <table id="example" class="display" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Author</th>
                          <th>Barcode</th>
                          <th>Readin Time</th>
                          <th>Book Shelf</th>
                          <th>Main Category</th>
                          <th>Sub Category</th>
                          <th>Inserted</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i = 0; i < books.length; i++){%>
                        <tr>
                          <td><%= books[i].name %></td>
                          <td><%= books[i].author_name %></td>
                          <td><%= books[i].barcode %></td>
                          <td><%= books[i].rTime %></td>
                          <td><%= books[i].shelf %></td>
                          <td><%= books[i].mainCat %></td>
                          <td><%= books[i].subCat %></td>
                          <td><%= books[i].inserted_date %></td>
                        </tr>
                        <%}%>
                      </tbody>
                      <tfoot>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Barcode</th>
                        <th>Readin Time</th>
                        <th>Book Shelf</th>
                        <th>Main Category</th>
                        <th>Sub Category</th>
                        <th>Inserted</th>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <% include ../../partialA/footer %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
  <script src="/javascripts/jquery-3.5.1.js
  "></script>
  <script src="/javascripts/jquery.DataTables.js"></script>
  <script>
    $(document).ready(function () {
      $("#example").DataTable({
        paging: false,
        ordering: false,
        info: false,
        ordering: true,
      });
    });
  </script>
</html>
