<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <% include ../../partialA/head %>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <% include ../../partialA/navbar %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <% include ../../partialA/sidebar %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Update Student Member</h4>
                    <!-- <p class="card-description">Basic form elements</p> -->
                    <form
                      class="forms-sample"
                      action="/admin/updatestuM"
                      method="POST"
                      name="frm"
                    >
                    <input type="hidden" name="id" value="<%= student._id %>">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputName1"
                          value="<%= student.name %>"
                          name="name"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="rfid">RFID No</label>
                        <input
                          type="text"
                          class="form-control"
                          id="rfid"
                          value="<%= student.rfid %>"
                          name="rfid"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="exampleInputPassword4"
                          placeholder="Password"
                          name="password"
                        />
                      </div>
                      <div class="form-group">
                        <label for="major">Major</label>
                        <select
                          class="form-control"
                          id="major"
                          name="major"
                          required
                        >
                          <option value="Civil" <%= (student.major == "Civil")? "selected":"" %> >Civil</option>
                          <option value="EC" <%= (student.major == "EC")? "selected":"" %> >EC</option>
                          <option value="EP" <%= (student.major == "EP")? "selected":"" %> >EP</option>
                          <option value="MP" <%= (student.major == "MP")? "selected":"" %> >MP</option>
                          <option value="MC" <%= (student.major == "MC")? "selected":"" %> >MC</option>
                          <option value="IT" <%= (student.major == "IT")? "selected":"" %> >IT</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="year">Year</label>
                        <select
                          class="form-control"
                          id="year"
                          name="year"
                          required
                        >
                          <option value="1BE" <%= (student.year == "1BE")? "selected":"" %> >1BE</option>
                          <option value="2BE" <%= (student.year == "2BE")? "selected":"" %> >2BE</option>
                          <option value="3BE" <%= (student.year == "3BE")? "selected":"" %> >3BE</option>
                          <option value="4BE" <%= (student.year == "4BE")? "selected":"" %> >4BE</option>
                          <option value="5BE" <%= (student.year == "5BE")? "selected":"" %> >5BE</option>
                          <option value="6BE" <%= (student.year == "6BE")? "selected":"" %> >6BE</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="roll">Roll No</label>
                        <input
                          type="number"
                          class="form-control"
                          id="roll"
                          value="<%= student.rollNo %>"
                          name="roll"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="phone">Phone No</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phone"
                          value="<%= student.phone %>"
                          name="phone"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="status" class="form-control">
                          <option value="1" <%= (student.status == '1')? "selected":"" %> >Active</option>
                          <option value="0" <%= (student.status == '0')? "selected":"" %> >Warning</option>
                          <option value="-1" <%= (student.status == '-1')? "selected":"" %> >Inactive</option>
                          <option value="-2" <%= (student.status == '-2')? "selected":"" %> >Block</option>
                        </select>
                      </div>

                      <input
                        type="submit"
                        id="subBtn"
                        class="btn btn-primary mr-2"
                        value="Submit"
                      />

                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <% include ../../partialA/footer %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <!-- <script src="/assets/js/typeahead.js"></script> -->
    <script src="/assets/js/select2.js"></script>
  </body>
  <script>
    $(function () {
      $(window).keydown(function (event) {
        if (event.keyCode == 13) {
          console.log("call");
          event.preventDefault();
          return false;
        }
      });
    });
    // $("#rfid").blur(function () {
    //   var data = { rfid: $(this).val() };
    //   $.ajax({
    //     url: "/admin/checkMemStu",
    //     data: data,
    //     type: "POST",
    //     success: function (result) {
    //       if (result.status) {
    //         alert("RFID is duplicated");
    //         $("#rfid").val("");
    //         $("#rfid").focus();
    //       }
    //     },
    //   });
    // });
    // $("#subBtn").click(function () {
    //   var datap = {
    //     major: $("#major").val(),
    //     year: $("#year").val(),
    //     roll: $("#roll").val(),
    //   };
    //   $.ajax({
    //     url: "/admin/checkRegStu",
    //     data: datap,
    //     type: "POST",
    //     success: function (result) {
    //       if (result.status) {
    //         alert("Student is already exist");
    //         $("#major").val("");
    //         $("#year").val("");
    //         $("#roll").val("");
    //         $("#major").focus();
    //       } else {
    //         frm.submit();
    //       }
    //     },
    //   });
    // });
  </script>
</html>
